/* color palette

PRIMARY dark olive brown = background-color: #201C00; rgb(242, 229, 106);
PRIMARY CONTAINER mint green = background-color: #52E569; 
SECONDARY taupe = background-color: #635F41;
TERTIARY teal = background-color: #406653;
TERTIARY CONTAINER mint = background-color: #C2ECD4;
PAGE BACKGROUND off-white = background-color: 
rgba(255,255,255,0.55);
PARAGRAPH TEXT dark brown = color: #1D1C16;
RESUME ACCOMPLISHMENT AND YEAR TEXT sludge taupe = color: #959181; rgb(149, 145, 129);

*/


/* ================================= 
  Base Element Styles
==================================== */

@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Georama', sans-serif;
    width: 100%;
    font-weight: lighter;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255,255,255,0.9);
    font-size: 0.5rem;
    font-family: 'Georama', sans-serif;
    font-weight: normal;
    line-height: 1.4;
    width: 100%;
    height: 100%;
}

.switch {
    width: 80px;
    height: 40px;
    background-color: rgb(0, 5, 3);
    box-shadow: -10px 15px 20px rgb(50 50 50/ 25%);
    border-radius: 20px;
    position: relative;
}

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(234, 227, 189);
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 3s;
    box-shadow: 
        inset 4px 4px 4px rgb(245, 220, 155),
        inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
    background-color: 
rgba(255,255,255,0.55);
    transition: 4s;
}
.dark .graybtn {
    text-transform: uppercase;
    color: rgb(255, 255, 255);  
    background-color: rgba(255,255,255,0.0);
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
}

.dark .flicker {
    transform: translateX(40px);
}

.dark > * {
    color: rgba(255,255,255,0.55);
    color: rgba(0, 0, 0, 0.9);
    /* color: rgb(250, 239, 196);
    color: #0f0e0d; */
}

div.hero,
div.container {
    width: 100%;
    padding: 6vw;
    margin: auto;
}

.nav {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}

.nav a {
    display: block;
}

ul {
    list-style: none;
}

p {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 1.8em;
}

p.summary {
    margin-bottom: 10em;
}

.kitten-img {
    max-width: 50%;
}

.hero-img {
    max-width: 100%;
}

div.hero h2 {
    font-size: 1.75em;
    padding: 0 2vw;
    color: #FFF;
}

h3 {
    font-size: 2vw;
    margin: auto;
}

h2,
h3,
a {
    margin-bottom: 1vh;
    padding-bottom: 0;
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container h2,
div.primary-col h2,
div.secondary-col h2 {
    padding: 1em 1em 0.25em 1em;
}

aside {
    margin-bottom: 3em;
}


/* ================================= 
  Base Layout Styles
==================================== */


/*---------HEADER----------*/

header.main-header,
.top-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

header.main-header {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    padding-bottom: .5em;
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(255,255,255,0.9);
}

h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;
}

h1.name,
h1.saga {
    font-size: 4.75vw;
    margin: 0;
    padding: 5vw 3vw 0 5vw;
    font-weight: lighter;
    color: rgba(255,255,255,0.55);
}
h1.saga {
    margin-bottom: 2vw;
}

h1 a:hover {
    color: #eff5f2;
}


h2.headline {
    font-size: 3vw;
    font-weight: lighter;
    line-height: 40px;
    font-weight: 300;
    margin: 10px 0;
    text-transform: uppercase;
    padding: 0.25vw 0 0 2vw;
    color: rgba(255,255,255,0.55);
}


/*---------NAVIGATION----------*/

.top-nav {
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.name a,
.top-nav a {
    display: block;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: .4em;
    border-bottom: 1px solid rgba(255,255,255,0.55);
}

.nav a:hover,
.top-nav a:hover {
    color:  rgba(0, 0, 0, 0.9);
    border-bottom-color: rgba(255,255,255,0.9);
}

ul.top-nav {
    padding: 0;
}

ul.top-nav li {
    font-size: 1.25rem;
    text-transform: uppercase;
    max-width: 8vw;
    display: block;
    margin: 2vw 3vw;
}

ul.top-nav li a:active,
.dropbtn {
    text-transform: uppercase;
    color: rgba(255,255,255,0.9);
    background-color:  rgba(0, 0, 0, 0.9);
}

/* .graybtn {
    text-transform: uppercase;
    color: rgba(255,255,255,0.9);
} */
/* ---- Dropdown menu  ---- */

div.dropdown {
    display: flex;
    flex-direction: column;
}

.dropbtn {
    font-size: 1.25rem;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: rgba(255,255,255,0.9);
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
    max-width: 15em;
    text-align: center;
}

.dropdown-content a {
    padding: .75em 2.5em;
    max-width: 8vw;
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 3px;
}

.dropdown-content a:hover {
    padding: .5em 3.5em;
    color: rgba(255,255,255,0.55);
    text-align: center;
}

.dropdown-content a:visited {
    color: rgb(232, 227, 209);
}

.dropdown:hover .dropdown-content {
    text-align: center;
    display: block;
}


/* -------------details, image descriptions ---------------*/

div.detail-list {
    padding-bottom: .5em;
    font-weight: normal;
}

ul.detail-list li {
    color: rgba(255,255,255,0.55);
    font-size: 1.75rem;
    font-weight: normal;
}

p.date {
    font-size: 1.75rem;
    margin: 1rem;
}

p.details {
    display: inline;
    font-size: 1.35rem;
    /* color: rgb(232, 227, 209); */
}

p.description {
    margin-top: 0.75vw;
    height: 2em;
    font-style: italic;
    margin-bottom: 0;
}

p.concept {
    font-size: 1.1rem;
    padding: 1em;
}


/* -------------Resume Page ---------------*/

section.accomplish {
    width: 98%;
}

h3.accomplish, 
dt.year  {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}

dd.exhibit {
    width: 88%;
    padding-bottom: 2vh;
}


/* -------------DESIGN Page ---------------*/

iframe#violet {
    margin-bottom: 5em;
    display: block;
    max-width: 500px;
    max-height:fit-content;
    float: right;
}

div.mobank {
    border: 2px;
    margin-top: 2em;
}

img.artboards {
    max-width: 90%;
    margin: auto;
}


/* -------------CONTACT Page ---------------*/

div#contactForm {
    background-color: rgba(0, 0, 0, 0.55);
}

img.contact-img {
    max-width: 100%;
}

form {
    width: 60%;
    margin: auto;
    color: rgb(215, 223, 204);
    background-color: rgba(0, 0, 0, 0.55);
    padding-bottom: 6vh;
}

form input {
    border-radius: 6px;
}

h2.contact {
    font-style: normal;
}


/*----------FOOTER-------------*/
.foot {
    color: #1D1C16;
}
header.main-header {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding-bottom: .5em;
    color: rgba(255,255,255,0.9);
    background-color: rgba(0, 0, 0, 0.55);
}
footer {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
}

footer img {
    max-width: 25px;
}

footer ul li {
    padding: .25vw;
}

footer ul {
    display: flex;
}


/* ================================= 
  Media Queries
==================================== */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    body {
        font-size: 1.15rem;
    }
    h1 {
        font-size: 1.75rem;
    }
    h1.name a {
        font-size: 2rem;
    }
    h2.headline {
        font-size: 1.35rem;
    }
    ul.top-nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    button.dropbtn {
        width: 5rem;
        color: #615e57;
    }
    div.dropdown-content a {
        padding: 0.5rem;
    }
    ul.top-nav li a,
    div.dropdown-content li a,
    button.dropbtn {
        margin: 2px;
        font-size: 1rem;
        border-style: none;
    }
    div.container h2,
    div.secondary-col h2 div.primary-col h2,
    p.description {
        font-size: 1.25rem;
    }
    ul.detail-list {
        margin-top: 1.5vh;
    }
    ul.detail-list li {
        font-size: 1.5rem;
    }
    p.details {
        font-size: 0.75rem;
    }
    p {
        font-size: 1.05rem;
        display: inline-block;
        margin-bottom: 0.5em;
    }
    p.description {
        font-size: .75rem;
    }
    h3.accomplish {
        font-size: 1.5rem;
    }
    dd.exhibit {
        margin-top: 4%;
    }
    footer p {
        font-size: 1rem;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    body {
        font-size: 1rem;
    }
    header.main-header {
        height: 600px;
    }
    h1 {
        font-size: 2.25rem;
    }
    h1.name a {
        font-size: 2.5rem;
    }
    header h2.headline {
        font-size: 1.75rem;
    }
    p {
        font-size: 1.75rem;
        margin-bottom: 1.8em;
    }
    h3.accomplish {
        font-size: 2.75rem;
    }
    dt.year {
        font-size: 1.75rem;
    }
    div.container h2,
    div.primary-col h2,
    div.secondary-col h2 {
        font-size: 1.25rem;
    }
    ul.detail-list {
        margin-top: .5vh;
    }
    ul.detail-list li {
        font-size: 1.75rem;
    }
    ul.top-nav {
        margin-right: 4.5rem;
    }
    button.dropbtn {
        width: 6rem;
    }
    ul.top-nav li a,
    div.dropdown-content li a,
    button.dropbtn {
        margin: 2px;
        font-size: 1.5rem;
        border-style: none;
    }
    dl.row {
        font-size: 4rem;
    }
    dt.year {
        font-size: 2.0rem;
        line-height: 2.75;
    }
    dd.exhibit {
        font-size: 1.8rem;
        line-height: 1.75;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 769px) {
    .main-header {
        height: 200px;
        justify-content: flex-end;
    }
    .top-nav {
        margin-top: 3em;
        flex-direction: row;
        justify-content: space-between;
    }
    .top-nav a {
        border-bottom-color: transparent;
    }
    h1.name a {
        font-size: 4.25rem;
    }
    header h2.headline {
        font-size: 2.75rem;
    }
    p {
        font-size: 1.5rem;
        margin-bottom: 1.8em;
    }
    ul.top-nav li {
        font-size: 1rem;
    }
    button.dropbtn {
        width: 7rem;
    }
    ul.top-nav li a,
    div.dropdown-content li a,
    button.dropbtn {
        /* margin: 2px; */
        font-size: 1.75rem;
        border-style: none;
    }
    */ ul.detail-list li {
        font-size: 3.75rem;
    }
    p.description {
        font-size: 2rem;
    }
    p.concept {
        font-size: 3.75rem;
        color: rgb(26, 50, 1);
    }
    aside {
        max-width: 60%;
    }
    h3.accomplish {
        font-size: 2.0rem;
    }
    dt.year {
        font-size: 1.35rem;
        line-height: 1.5;
    }
    dd.exhibit {
        font-size: 1.25rem;
        line-height: 1.25;
    }
}


/* Large devices (laptops/desktops, 1025px and up) */

@media only screen and (min-width: 1025px) {
    body {
        font-size: 1rem;
    }
    .main-header {
        flex-direction: row;
    }
    h2.headline {
        font-size: 2.75rem;
    }
    .top-nav {
        margin-top: 0;
        align-self: center;
    }
    .top-nav li {
        margin-right: .75em;
        margin-left: .75em;
    }
    div.primary-col h2 {
        font-size: 2.25rem;
    }
    p.description {
        font-size: 1.75rem;
    }
    p.concept {
        font-size: 1.25rem;
    }
    button.dropbtn {
        width: 8rem;
    }
    ul.top-nav li a {
        font-size: 1.5rem;
    }
    h3.accomplish {
        font-size: 1.8rem;
    }
    dt.year {
        font-size: 1.30rem;
    }
    dd.exhibit {
        font-size: 1.20rem;
        line-height: 1.5;
    }
}
